.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 12px;
}

.card__delete-button {
  width: 32px;
  height: 32px;
  top: 40px;
  right: -371px;
  position: relative;
  background-image: url(../images/DeleteIcon.svg);
  background-color: transparent;
  border: none;
}

.card__delete-button:hover {
  background-image: url(../images/DeleteIconHover.svg);
  cursor: pointer;
}

.card__title {
  max-width: 353px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #212121;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__like-btn {
  background-image: url(../images/Heart2.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  transition: opacity 0.3s ease;
  flex-shrink: 0;
  cursor: pointer;
}

.card__like-btn:hover {
  opacity: 1;
}

.card__like-btn_active {
  background-image: url(../images/likedHeart.svg);
  opacity: 1;
}

.card__like-btn_active:hover {
  opacity: 0.4;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    max-width: 235px;
    font-size: 16px;
    line-height: 1;
  }
}
